<!DOCTYPE html>
<html ng-app="button">
	<head>
		<title> button page </title>
	</head>
	<body ng-controller="mainCtrl" >
		<button ng-click="clickedButton()" >Click me!</button>

		<h2>We've had {{clickCount}} clicks!</h2>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" ></script>
		<script src="/static/js/script.js" ></script>
	</body>
</html>
