{{template "header"}}



<div id="idea"></div>

<div id="content"></div>
    <script type="text/jsx;harmony=true" src="/static/js/example.js"></script>

{{template "footer"}}

<!--script src="/static/react-contenteditable-master/index.js"></script-->
<script type="text/jsx" src="/static/js/medium.js"></script-->
