{{template "header"}}

{{range .}}
  {{with .Author}}
    <p><b>{{.}}</b> wrote:</p>
  {{else}}
    <p>An anonymous person wrote:</p>
  {{end}}
  <pre>{{.Content}}</pre>
{{end}}


<div id="content"></div>



{{template "footer"}}

<!--script src="/static/react-contenteditable-master/index.js"></script-->
<script type="text/jsx" src="/static/js/medium.js"></script>
